* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
h1 {
    text-align: center;
    margin-top: 200px;
    font-size: 45px;
}

.campo {
    margin: 10px;
    text-align: center;
}

input::placeholder{
    padding: 5px;
}
.scelta {
    margin-left: 20px;
}

button {
    width: 120px;
    margin-top: 30px;
    margin-left: 25%;
    background-color: rgb(116, 239, 116);
    cursor: pointer;
}